fastapi==0.115.12
uvicorn[standard]==0.34.2
gunicorn==23.0.0
python-dotenv==1.1.0
langchain==0.3.25
langchain-community==0.3.24
langchain-google-genai==2.1.4
langchain-text-splitters==0.3.8
chromadb==1.0.7
langchain-chroma==0.2.4
requests==2.32.3
beautifulsoup4==4.13.4
